.hot-articles-box {
    padding: 15px;
    background: #fff;
    li{
        position: relative;
    }
    .views-num {
        float: right;
        position: absolute;
        right: 0;
        top: 10px;
    }
    a.title {
        display: inline-block;
        width: 190px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .fa-fire {
        color: #CC3300;
    }
}
