<div class="container articles" ng-init="init()">
	<div class="row">
		<div class="col-md-3">
			<article-tags></article-tags>
		</div>
		<div class="col-md-9">
			<div class="text-center">
				<p class="text-muted" ng-if="count===0">暂无数据</p>
			</div>
			<ul class="list-group" ng-if="count>
				0">
				<li class="list-group-item" ng-repeat="a in articles">
					<a ui-sref="viewArticle({_id:a._id})">{{a.title}}</a>
					<img  ng-src="{{a.user.avatar}}" alt="..." class="img-circle avatar"></li>
			</ul>

			<div class="pull-right">
				<fedoc-pagination ng-model="pagination" ></fedoc-pagination>
			</div>
		</div>
	</div>

</div>