.articles-box {
	background-color: #fff;
	padding: 15px;
	.article-list {
		margin-top: 15px;
		position: relative;
		.article-list-item {
			padding: 10px;
			font-size: 14px;
			border-bottom: 1px dotted #ddd;
			.title {
				color: #444;
				&:hover {
					cursor: pointer;
				}
			}
			.btn-operate {
				font-size: 12px;
				display: none;
				margin-left: 10px;
			}
			&:hover {
				.btn-operate {
					display: initial;
				}
				background-color: #f4f6fc;
			}
			.put-top {
				background: #80bd01;
				padding: 2px 4px;
				border-radius: 3px;
				color: #fff;
				font-size: 12px;
			}
			.author {
				color: #999;
				position: absolute;
				width: 210px;
				right: 0;
				padding-left: 30px;
				/*@include transition(all .2s ease-in);*/
				.views-num {
					font-size: 10px;
					color: #b4b4b4;
					position: absolute;
					right: 55px;
					top: 1px;
				}
				.author-avatar {
					position: absolute;
					left: 0;
					width: 20px;
					height: 20px;
				}
				.author-nickname {
					display: block;
					width: 60px;
					height: 26px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				.time {
					position: absolute;
					right: 0;
					top: 0;
					font-size: 10px;
				}
			}
		}
	}
}
