.articles-box {
	.list-group {
		position: relative;

		.title {
			font-size: 16px;
			margin-left: 10px;
		}

		.time {
	   		position: absolute;
		    right: 16px;
		    bottom: 16px;
		    font-size: 12px;
		}

		.img-circle.avatar {
			width: 26px;
			height: 26px;
		}

	}

}