<div class="container articles" ng-init="init()">
	<div class="tag-box">
		<button class="btn btn-primary">规范</button>
		<button class="btn btn-default">工具</button>
		<button class="btn btn-default">代码检测</button>
		<button class="btn btn-default">h5</button>
		<button class="btn btn-default">性能</button>
	</div>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="a in articles">
			<a ui-sref="viewArticle({_id:a._id})">{{a.title}}</a>
		</li>
	</ul>
	<site-pagination ng-model="pagination"></site-pagination>
</div>