.articles{
	.tag-box{
		margin-bottom: 15px;
	}
	.search-box{
		position: relative;
		.icon-clear{
    position: absolute;
    right: 61px;
    top: -2px;
    z-index: 10;
    font-size: 20px;
		}
	}
	.img-circle.avatar{
		    width: 30px;
		    height: 30px;
		    position: absolute;
		    right: 20px;
		    top: 6px;
	}
}