$article-content-height:600px;
.article-box{
	width: 700px;
    margin: 0 auto;

}
.article-form{
    .form-group-content{
    	textarea,#content-preview{
    		min-height: $article-content-height;
    	}
    	>div{
    		position: relative;
    	}
    	.btn-toggle-preview-status{
		    position: absolute;
		    top: 0;
		    right: -50px;
		    &:hover{
		    	cursor: pointer;
		    }
    	}
    }	
}