$article-content-height: 600px;
.btn-simplemde-upload{
    display: none;
}
.btn-to-edit{
    position: absolute;
    right: -70px;
    top: -25px;
    background: white;
    padding: 10px 15px 10px 10px;
}
.article-form {
    padding: 0 15px;
    .form-group-content {
        @include border-radius(4px);
        border: 1px solid #ddd;
    }
    .form-group-tags {
        label {
            margin-right: 5px;

            input {
                margin-right: 5px;
            }

        }

    }
    
    .attachment-upload-box {
        margin-bottom: 10px;
    }
    .progress-box{
        width: 150px;
    }
}

.article-box {
    //width: 980px;
    padding: 10px;
    margin: 0 auto;

    .article-header {
        margin: 0 0 30px;
        position: relative;
        h1 {
            border-bottom: 1px dotted #d4d4d4;
        }
         .views{
            position: absolute;
            right: 30px;
            width: 100px;
            top: 0;
            text-align: center;
            border-radius: 0.2rem;
            border: 1px solid #f3f3f3;
            background: #fff;
            padding: 15px 5px;
            color: #999999;
            margin: 0 4px;
            font-size: 0.6rem;
            .num{
                    font-size: 1.3rem;
                    color: #333333;
            }
            .word{
                color: #999999;
                font-size: 0.6rem;
            }
        }
        .article-user{
            margin: 15px 0 8px;
            color:#aaaaaa;
            
            .article-user-avatar{
                    vertical-align: middle;
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: no-repeat center center;
                    background-size: cover;
                    margin-right: 6px;
                    border-radius: 50%;
            }
            .time{
                color: rgb(170, 170, 170);
            }
           
        }
    }

    .article-content {
        min-height: 400px;
    }

}