$article-content-height: 600px;

.article-form {
    width: 1000px;
    margin: 0 auto;
    .form-group-content {
        @include border-radius(4px);
        border: 1px solid #ddd;
    }
    .form-group-tags {
        label {
            margin-right: 5px;

            input {
                margin-right: 5px;
            }

        }

    }

    .attachment-upload-box {
        margin-bottom: 10px;
    }
    .progress-box{
        width: 150px;
    }
}

.article-box {
    width: 980px;
    padding: 10px;
    margin: 0 auto;

    .article-header {
        margin: 0 0 30px;

        h1 {
            padding-bottom: 15px;
            border-bottom: 1px dotted #d4d4d4;
        }

    }

    .article-content {
        min-height: 400px;
    }

}