<!--编辑，新增,查看-->
<form class="form-horizontal fedoc-article--edit common-box " ng-if="article.isEdit||article.isAdd">

	<button class="fedoc-article--edit__btn--uploadattachment" ng-accept="'image/*'" ng-file-select="uploadSimplemdeAttachment($files)">附件上传</button>
	<div class="form-group">
		<div class="pull-right">
			<button class="btn btn-default" ng-if="article._id" ng-click="article.isEdit = false">取消编辑</button>
			<button type="submit" class="btn btn-success" ng-click="update()" ng-if="article.isEdit">保存</button>
			<button type="submit" class="btn btn-success" ng-click="create()" ng-if="article.isAdd">创建</button>
		</div>
	</div>
	<div class="form-group">
		<input class="form-control" type="title" autocomplete="off" name="title" ng-model="article.title" placeholder="标题" required />
	</div>
	<div class="form-group" ng-if="user.isAdmin && !article.isAdd">
		<select class="form-control input-sm" ng-model="article.user._id" ng-options="u._id as u.nickname for u in users">
		</select>
	</div>
	<div class="form-group fedoc-article__tags__box ">
		<label ng-repeat="tagName in tagNames">
			<input type="checkbox" ng-checked="isCheckTag(tagName)" ng-click="chooseTag($event,tagName)">{{tagName}}</label>
	</div>
	<div class="form-group fedoc-article__attachment__box--upload">
		<div class="attachment-upload-box">
			<button ng-if="!uploading" class="btn btn-primary btn-attachment-upload" ng-file-select="uploadAttachment($files)" resetonclick="true">附件上传</button>
		</div>
		<div class="progress-box" ng-if="uploading">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
					<span class="sr-only">99% Complete</span>
				</div>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="a in article.attachments">
				<span class="fa fa-file"></span>
				<a ng-href="{{a.fileUrl}}" target="_blank">{{a.fileName}}</a>
				<button class="btn btn-danger" ng-click="delAttachment($index)">删除</button>
			</li>
		</ul>
	</div>
	<div class="form-group fedoc-article__content__box">
		<textarea ng-show="!article.isPreview" class="form-control" type="content" autocomplete="off" name="content" ng-model="article.content" placeholder="内容" ng-init="initEditor()" id="editor"></textarea>
	</div>
</form>

<div class="fedoc-article--read common-box row " ng-if="!article.isAdd &&!article.isEdit">
	<div class="fedoc-article--read__header">
		<h2 ng-bind="article.title"></h2>
		<div class="fedoc-article--read__header__summary">
			<span class="fedoc-article--read__header__summary__avatar" ng-if="article.user.avatar !== 'http://7xohgg.com2.z0.glb.qiniucdn.com/images/avatar_120_120.png'" style="background-image:url('{{article.user.avatar}}')"></span>
			<span class="fedoc-article--read__header__summary__avatar">
				<user-icon name="{{getFirstLetter(article.user.nickname)}}" ng-if="article.user.avatar === 'http://7xohgg.com2.z0.glb.qiniucdn.com/images/avatar_120_120.png'"></user-icon>
			</span>

			<a class="fedoc-article--read__header__summary__nickname" ui-sref="viewUserArticles({userId:article.user._id})" ng-bind="article.user.nickname"></a>
			<span class="fedoc-article--read__header__summary__times">
			&nbsp;•&nbsp;
			<span class="fedoc-article--read__header__summary__times-ago">
				{{article.createdTime|dateAgo}}
			</span>
			</span>
			<div class="fedoc-article--read__header__summary__views">
				<div class="fedoc-article--read__header__summary__views__num">{{article.views}}</div>
				<div class="fedoc-article--read__header__summary__views__text">阅读量</div>
			</div>
			<a class="pull-right fedoc-article--read__btn--toedit" ng-if="article.isAuthor" ng-click="article.isEdit = true">编辑</a>
		</div>
	</div>
	<div class="fedoc-article--read__content markdown-body" fedoc-markdown="article.content"></div>
	<div>
		<div class="row edoc-article--read__content__imgs">
			<div class="col-xs-2" ng-repeat="a in filterAttachmentImgs(article.attachments)">
				<a ng-href="{{a.fileUrl}}" target="_blank" class="thumbnail">
					<img ng-src="{{a.fileUrl}}">
				</a>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="a in filterAttachment(article.attachments)">
				<span class="fa fa-file-o"></span> {{a.fileName}}
				<a class="pull-right fa fa-cloud-download" ng-href="{{a.fileUrl}}" target="_blank">下载</a>
			</li>
		</ul>
	</div>
	<div class="text-muted">
		<span>
			[
			<a ng-repeat="a in article.tags" ui-sref="articles({tag:a})">
				{{a}}
				<span class="text-muted">;</span>
		</a>
		]
		</span>
	</div>
	<div id="duoshuo-box">

	</div>

</div>
