<div class="deploys-box common-box" ng-init="init()">
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>状态</td>
				<td>模块</td>
				<td>版本</td>
				<!-- <td>预计上线时间</td> -->
				<td>发布范围</td>
				<td>发布原因</td>
				<td>开发者</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in deploys">
				<td>
					<label ng-if="d.status === 10" class="label label-warning">待上线</label>
					<label ng-if="d.status === 20" class="label label-success">已上线</label>
				</td>
				<td>
					{{d.name}}
				</td>

				<td>{{d.version}}</td>
				<!-- <td>
					{{d.runTime|dateDisplay}}
				</td> -->
				<td>
					{{d.range}}
				</td>
<td>
					{{d.reason}}
				</td>
<td>
					{{d.developer}}
				</td>
				<td><button class="btn btn-success" ng-if="d.status === 10" ng-click="run(d)">执行</button>
					<button class="btn btn-danger" ng-if="d.status !== 20" ng-click="del(d)">删除</button>
					
					<button class="btn btn-primary" ng-click="read(d)">记录</button>
					</td>
			</tr>
		</tbody>
	</table>
	<div class="pull-right">
		<fedoc-pagination ng-model="pagination" ></fedoc-pagination>
	</div>
</div>