<!--编辑，新增,查看-->
<form class="form-horizontal tag-form common-form" >
	<h3 class="text-center">部署代码</h3>
	<div class="form-group">
		<input  class="form-control" type="text" autocomplete="off" name="name" ng-model="deploy.name" placeholder="分支名称" required />
	</div>
	<div class="form-group">
		<input  class="form-control" type="text" autocomplete="off" name="name" ng-model="deploy.version" placeholder="版本号" required />
	</div>
	<div class="form-group">
		<input  class="form-control" type="text" autocomplete="off" name="name" ng-model="deploy.developer" placeholder="开发者" required />
	</div>
	<div class="form-group">
		<input class="form-control" type="date" autocomplete="off" name="name" ng-model="deploy.runDate" placeholder="预计上线时间" required />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success"ng-click="create()">创建</button>
</form>