<!--编辑，新增,查看-->
<div class="row deploy-box">
		<div class="col-md-6">
			<form class="form-horizontal tag-form common-form" ng-init="init()">
		<h3 class="text-center">部署代码</h3>
		<div class="form-group">
			<label for="">发布原因</label>
			<input  class="form-control" type="text" name="reason" ng-model="deploy.reason" placeholder="例:zhangc" required />
		</div>
		<div class="form-group">
			<label for="">分支名称</label>
			<div class="row">
				<div class="col-md-4">
						<input  class="form-control" type="text" name="name" ng-model="deploy.name" placeholder="例:base" required />
				</div>
				<div class="col-md-4">
					<select class="form-control" 
				      ng-options="m for m in modules"
				      ng-model="deploy.name"></select>
				</div>
			</div>
	
		</div>
		<div class="form-group">
			<label for="">发布范围</label>
			<div>
				<label>
				<input type="radio" ng-model="deploy.range" ng-value="'内测'">&nbsp;内测&nbsp;
				</label>
					<label>
					<input type="radio" ng-model="deploy.range" ng-value="'全网'">&nbsp;全网&nbsp;
				</label>
		
			</div>
		</div>
		<div class="form-group">
			<label for="">版本号</label>
			<div class="row">
				<div class="col-md-4">
						<input  class="form-control" type="text" name="version" ng-model="deploy.version" placeholder="例:4.7" required />
				</div>
				<div class="col-md-4" ng-if="versions.length>0">
					<select class="form-control" 
				      ng-options="v for v in versions"
				      ng-model="deploy.version"></select>
				</div>
			</div>
		</div>
	<!-- 	<div class="form-group">
			<label for="">预计上线时间</label>
			<input class="form-control" type="date" name="name" ng-model="deploy.runTime" required />
		</div> -->
		<div class="form-group">
			<label for="">开发者</label>
			<input  class="form-control" type="text" name="name" ng-model="deploy.developer" placeholder="例:zhangc" required />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success"ng-click="create()">创建</button>
		</div>
	</form>
	</div>
	<div class="col-md-6 ">
	<deploy-record ng-model="deploy"></deploy-record>
			
	</div>
</div>
