<html lang="en" ng-controller="SiteController">
<head>
	<meta charset="utf-8"/>
	<title ng-bind="$state.current.pageTitle + ' | 纷享销客'"></title>
	<meta http-equiv="X-UA-Compatible"content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1.0"name="viewport"/>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet"type="text/css"href="/assets/libs/bootstrap//bootstrap.min.css"></head>
	<link rel="stylesheet" type="text/css" href="/assets/libs/angular-toasty/angular-toasty.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/libs/Font-Awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/libs/simplemde/simplemde.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/libs/github-markdown-css/github-markdown.css">

	<link rel="stylesheet"type="text/css"href="/build/site.css"></head>
<body>
	<site-header></site-header>
	<btn-to-top></btn-to-top>
	<!---->
	<div class="container" id="site-box" ui-view ></div>
	<toasty></toasty>
	<script type="text/javascript"src="/assets/libs/angular/angular.min.js"></script>
	<script type="text/javascript"src="/assets/libs/lodash/lodash.min.js"></script>
	<script type="text/javascript"src="/assets/libs/angular-sanitize/angular-sanitize.min.js"></script>
	<script type="text/javascript"src="/assets/libs/angular-ui-router/angular-ui-router.min.js"></script>
	<script type="text/javascript"src="assets/libs/restangular/restangular.min.js"></script>
	<script type="text/javascript"src="/assets/libs/angular-ui-bootstrap/angular-ui-bootstrap.min.js"></script>
	<script type="text/javascript"src="/assets/libs/angular-toasty/angular-toasty.min.js"></script>
	<script type="text/javascript"src="/assets/libs/angular-file-upload/angular-file-upload.min.js"></script>
	<script type="text/javascript"src="/assets/libs/simplemde/simplemde.min.js"></script>
	<script type="text/javascript"src="/build/main.js"></script>
	<footer id="footer">
		<div>
			© 2015
			<span id="copyright">纷享销客前端团队</span>
			All rights reserved.
		</div>
	</footer>
</body>
</html>