<html lang="en" ng-controller="SiteController">

<head>
	<meta charset="utf-8" />
	<title ng-bind="$state.current.pageTitle + ' | 纷享销客'"></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/build/vendor.css">
	<link rel="stylesheet" type="text/css" href="/build/site.css">
</head>

<body class="pdt80">
	<site-header></site-header>
	<btn-to-top></btn-to-top>
	<div class="container fedoc__body" ui-view></div>
	<toasty></toasty>
	<div cg-busy="waitPromise"></div>

	<script type="text/javascript" src="/build/vendor.js"></script>
	<script type="text/javascript" src="/build/main.js"></script>
	<footer class="fedoc__footer">
		<div>
			© 2015
			<span class="fedoc__footer__copyright">纷享销客前端团队</span> All rights reserved.
		</div>
	</footer>
	<script type="text/javascript">
		var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan id='cnzz_stat_icon_1260281813'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260281813%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
	</script>
</body>

</html>
