.tag-tabs {
	.tag-tabs__item {
		float: left;
		position: relative;
		padding: 0 20px;
		margin-bottom: 10px;
		font-size: 14px;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAABGdBTUEAALGPC/xhBQAAABNJREFUCB1jePDgwX8mBiAgkwAA5XADuJ6JlS4AAAAASUVORK5CYII=");
		background-repeat: no-repeat;
		background-position: 0 3px;
		vertical-align: top;
		.tag-tabs__item__btns {
			position: absolute;
			top: -20px;
			right: 0;
			.fa {
				display: none;
				color: #FC923F;
			}
			> span {
				&:hover {
					pointer: cursor;
				}
			}
		}
		a {
			color: #999;
		}
		&:hover {
			.fa {
				display: initial;
			}
		}
		&:first-child {
			background-image: none;
			padding-left: 0;
		}
	}
	.tag-tabs__item--active{
		a {
			color: #fc923f;
		}
	}
}
