<div class="tags-box" ng-class={'tags-box-admin':user.isAdmin}>
	<ul class="nav nav-pills">
		<li class="tag-item" ng-class="{active:'' === tag}"><a ng-click="choose($event,'')">全部</a></li>
		<li class="tag-item" ng-class="{active:t.name === tag}"ng-repeat="t in tags">
			<a ng-click="choose($event,t.name)">
				{{t.name}}
			</a>
			<span class="btn-operate" ng-if="user.isAdmin">
					<span title="删除" class="fa fa-close" ng-click="delTag($event,t)"></span>
					<span title="编辑" class="fa fa-cog" ui-sref="viewTag({_id:t._id})"></span>
				</span>
		</li>
	</ul>
</div>
