<div class="tag-tabs clearfix" ng-class="{'tag-tabs--admin':user.isAdmin}">
	<div class="row">
		<div class="col-md-11">
			<ul>
				<li class="tag-tabs__item" ng-click="choose($event,'')" ng-class="{'tag-tabs__item--active':'' == tag}"><a>全部</a>
				</li>
				<li  class="tag-tabs__item" ng-click="choose($event,t.name)" ng-class="{'tag-tabs__item--active':t.name == tag}" ng-repeat="t in tags">
					<a>
								{{t.name}}
								<span class="tag-tabs__item__btns" ng-if="user.isAdmin">
										<span title="删除" class="fa fa-close" ng-click="delTag($event,t)"></span>
										<span title="编辑" class="fa fa-cog" ui-sref="viewTag({_id:t._id})"></span>
									</span>
						</a>
				</li>

			</ul>
		</div>
		<div class="col-md-1">
			<a class="btn btn-success btn-sm pull-right"  ng-click="goWrite()">写文档</a>
		</div>
	</div>
</div>
