.tags-box {

	li {
		float: left;
		position: relative;
		padding: 0 20px;
		font-size: 14px;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAABGdBTUEAALGPC/xhBQAAABNJREFUCB1jePDgwX8mBiAgkwAA5XADuJ6JlS4AAAAASUVORK5CYII=");
		background-repeat: no-repeat;
		background-position: 0 3px;
		vertical-align: top;
		.btn-operate {
			position: absolute;
			top: -20px;
			right: 0;
			.fa {
				display: none;
				color: #FC923F;
			}
			> span {
				&:hover {
					pointer: cursor;
				}
			}
		}
		a{
			color: #999;
		}
		&:hover {
			.fa {
				display: initial;
			}
		}
		.tag-hot {
			font-size: 18px;
			color: #E04B4B;
		}

		&.active{
			a{
				color:#fc923f;
			}
		}
	}
	li:first-child{
		background-image: none;
		padding-left: 0;
	}
}
