.tags-box{
	width: 140px;
	top:70px;
	left: 100px;
	.tag-item{
		position: relative;
		.btn-operate{
			position: absolute;
			right: 5px;
			top:11px;
			.fa{
				display: none;
			}
			>span{
				&:hover{
					pointer:cursor;	
				}
			}
		}
		&:hover{
			.fa{
				display: initial;
			}	
		}
		.tag-hot{
			    font-size: 18px;
    		    color: #E04B4B;
		}
	}
}