@import "compass";
//base
//
@import "./base/index";
// modules
@import "./modules/header/index";
@import "./modules/article-tags/index";
// tpls
@import "./tpls/articles/index";
@import "./tpls/article/index";
@import "./tpls/signin/index";
@import "./tpls/profile/info/index";
@import "./tpls/profile/pwd/index";

#site-box {
	background-color: white;
	padding: 15px;
}

#footer {
	width: 1000px;
	margin: 40px auto 0;
	padding: 10px 0 30px;
	border-top: 1px solid #d4d4d4;
	color: #999;

	#copyright {
		margin: 0 10px;
	}

}