@import "compass";
//base
//
@import "./base/index";
// modules
@import "./modules/header/index";
@import "./modules/article-tags/index";
// tpls
@import "./tpls/articles/index";
@import "./tpls/article/index";
@import "./tpls/signin/index";
@import "./tpls/users/index";
@import "./tpls/profile/info/index";
@import "./tpls/profile/pwd/index";

#site-box {
	background-color: white;
	padding: 15px;
}
.common-box{
	width: 1000px;
    margin: 0 auto;
}
.common-form{
	width: 450px;
	margin: 0 auto;
}
.btn-to-top{
	&.active{
		display: block;
	}
	display: none;
	bottom: 115px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    position: fixed;
    right: 0;
    border: 1px solid #D5D6DB;
    border-right: 0;
    border-radius: 2px;
    cursor: pointer;
    z-index: 12;
    background: #FFF url(../assets/images/top.png) no-repeat center center;
}
#footer {
	width: 1000px;
	margin: 40px auto 0;
	padding: 10px 0 30px;
	border-top: 1px solid #d4d4d4;
	color: #999;

	#copyright {
		margin: 0 10px;
	}

}