<header class="site-header navbar navbar-inverse">
	<a target="_blank" href="http://fe.firstshare.cn/#/articles/565d0d2b66f363224b786612" class="yy-freshman" tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-append-to-body="true" title="新人大礼包"></a>

	<div class="container">
		<nav class="site-header-nav navbar-collapse collapse">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="articles">
					fe.firstshare.cn
				</a>
			</div>
			<ul class="nav navbar-nav pull-left">
				<li>
					<a ui-sref="sites">
						<i class="fa fa-rocket"></i> 前端站点
					</a>
				</li>
				<li>
					<a ui-sref="articles">
						文档列表
					</a>
				</li>

			</ul>

			<ul ng-if="user && user.isAdmin" class="nav navbar-nav">
				<li ng-repeat="menu in adminMenus" dropdown keyboard-nav>
					<a dropdown-toggle>
						{{menu.title}}
						<span class="caret"></span>
					</a>
					<ul ng-if="menu.subMenus.length>
						0" class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
						<li role="menuitem" ng-repeat="subMenu in menu.subMenus">
							<a ui-sref="{{subMenu.sref}}">{{subMenu.title}}</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul ng-if="user && !user.isAdmin" class="nav navbar-nav">
				<li ng-repeat="menu in userMenus" dropdown keyboard-nav>
					<a dropdown-toggle>
						{{menu.title}}
						<span class="caret"></span>
					</a>
					<ul ng-if="menu.subMenus.length>
						0" class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
						<li role="menuitem" ng-repeat="subMenu in menu.subMenus">
							<a ui-sref="{{subMenu.sref}}">{{subMenu.title}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<ul ng-if="user" class="nav navbar-nav pull-right">
				<li dropdown keyboard-nav>
					<a dropdown-toggle>
						{{user.nickname}}
						<img ng-src="{{user.avatar}}" alt="..." class="avatar">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
						<li role="menuitem">
							<a ui-sref="profile">个人设置</a>
						</li>
						<li role="menuitem">
							<a ng-click="signout($event)">退出</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul ng-if="!user" class="nav navbar-nav pull-right">
				<li ui-sref="signin">
					<a>
						登陆
					</a>
				</li>
				<li ui-sref="signup">
					<a>
						注册
					</a>
				</li>
			</ul>
			<div class="input-group search-box" ng-class="{'active':searchBox.active}" ng-click="enableSearchBox()">
				<span class="btn-search" >
						<i class="fa fa-search"></i><span class="tip">搜索</span>
				</span>
				<input type="text" ng-model="searchBox.keyword" class="j-ipt-search" ng-blur="disableSearchBox()" fedoc-enter="searchKeyword()" >
			</div>
		</nav>
	</div>
</header>
